#mywebsite {
    margine:0;
    font-family: Arial, Helvetica, sans-serif;
}

#landing {
    margine:0px;
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0.52), 75%, rgba(233, 233, 233, 0.73)),
    url('../img/landing-img.jpg');
    padding: 20%;
}

#landing h1 {
    text-shadow: 1px 1px black;
    color:white;
    font-size:50px;
    text-align: center;
    line-height: 0.3;
}

#landing p {
    text-shadow: 1px 1px black;
    color: white;
    font-size: 18px;
    text-align: center;
}

#blog {
    background-color: white;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#blog > h2 {
    margin-top: 10px;
    font-size: 30px;
    text-align: center;
    flex-basis: 100%;
}

#blog > div {
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 100px;
    box-shadow: 0 0 10px rgba(0,0,0, 0);
    flex-basis: 20%;
    height: 325%;
    border: 2px solid white;
    border-radius: 10px;
}

#blog > div > img {
    width: 270px;
    height: 140px;
    object-fit: cover;
}

#blog > div > h3 {
    padding: 0px 5px 0px 23px;
}

#blog > div > p {
    padding: 0px 30px 10px 19px;
    text-decoration: none;
    color:lightlategray;
    font-size: 12px;
}

#blog > div[title="Featured Post"] {
    background-color: #1b1b1b;
    border: 2px solid #1b1b1b;
}

#blog > div > [title="Featured Post"] > h3{
    color: #fcfcfc;
}

#blog > div[title="Featured Post"] > p {
    color: #fcfcfc;
}

#blog > div[title="Featured Post"] > a {
    color: #fcfcfc;
}

#blog > div > a:hover {
    color: darkorange;
}

#services {
    background-color: rgb(230, 229, 229);
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#services > h2 {
    padding-top: 150px;
    font-size: 30px;
    text-align: center;
    flex-basis: 100%;
}

#services > ul {
    white-space: nowrap;
    padding-bottom: 90px;
}

#services > ul > li {
    display: inline-block;
    list-style-type: none;
    text-align: center;
    padding: 25px, 60px, 25px, 60px;
    margin: 0px, 15px, 0px, 10px;
    background-color: white;
}

#services > ul > li:first-child {
    background-color: orangered;
}

#services > ul > li:hover {
    box-shadow: 0 0 10px rgba(0,0,0, 0);
}